<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKJ5Q4M2irJLvwiIzU86cj-kzvkip3bTE</string>
	<key>GCM_SENDER_ID</key>
	<string>989865099228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.djigit.companion</string>
	<key>PROJECT_ID</key>
	<string>poputchiki-ebe2a</string>
	<key>STORAGE_BUCKET</key>
	<string>poputchiki-ebe2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989865099228:ios:e2ce4fcb2649e2006a1919</string>
</dict>
</plist>